<a href="https://colab.research.google.com/github/abuobayda/Intro_to_python/blob/master/lesson_1_talk_to_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## IPython Notebook

# Hello, Python!

Python was named for the British comedy troupe [Monty Python](https://en.wikipedia.org/wiki/Monty_Python).



```
# This is formatted as code
```

### Let's talk to python

**Double click** to edit the cell in the Jupyter Notebook

**Shift + Enter** to run the cell in Jupyter Notebook Environment

In [0]:
How are you?

Object `you` not found.

In [0]:
hello

NameError: ignored

## Reserved Words

You can not use reserved words as variable names / identifiers

[Built-in Function](https://docs.python.org/3/library/functions.html)

In [0]:
abs(-10)

10

## Sentence Or Line

Assignment Statement

In [0]:
x = 5

Assignment with expression

In [0]:
x = x + 3

Print the statement

In [0]:
print(x)

8

x --> variable

=/+ --> operators

5/3 --> constand

print --> Reserved statment

## Python Program


*   Like a recipe or installation instructions, a program is a sequence of steps to be done in order 
*   Some steps are conditional - they may be skipped
*   Sometimes a step or group of steps are to be repeated
*   Sometimes we store a set of steps to be used over and over as needed several places throughout the program

In [0]:
# Sequential Steps
x = 2
print(x)
x = x + 3 
print(x)

2
5

In [0]:
# Conditional Steps
x = 2
if x < 8:
  print('Smaller')
if x > 30:
  print('bigger')
print('Finish')

Smaller
Finish

In [0]:
# Repeated Steps
n = 5
while n > 0:
  print(n)
  n = n -1
print("Blast Off")

5
4
3
2
1
Blast Off

# Variables, Expressions, and Statements
## Constants
constants are fixed values such as numbers, letters and strings (because their value does not change)

In [0]:
print(123)

123

In [0]:
print(98.4)

98.4

In [0]:
print("Hello Python")

Hello Python

## Variables
A **variable** is a named place in the memory where a programmer can store data and later retrieve the data using the **variable** “name”


*   You get to choose the variable name.
*   You can change the contents of a variable.

In [0]:
x = 14.5
y = 14
# x and Y are the variables name

In [0]:
print(x)
print(y)

14.5
14

In [0]:
# change the value of x to be 120
x = 120
print(x)

120

### Python variable Name Rules
* must start with a letter or the underscore character.
* cannot start with a number
* can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
* case-sensitive (age, Age and AGE are three different variables)
* You can not use reserved words as variable names.

In [0]:
food = 'rice'
print(food)

rice

In [0]:
print(Food)

NameError: ignored

In [0]:
_speed = 35
print(_speed)

35

In [0]:
1_x = 5

SyntaxError: ignored

In [0]:
x = 5
z = 2.3
y = "John"

print(x)
print(y)
print(z)

5
John
2.3

In [0]:
type(x)

int

In [0]:
type(z)

float

In [0]:
type(y)

str

A **function call**. `print` is an extremely useful builtin Python function that displays the value passed to it on the screen. We call functions by putting parentheses after their name, with the inputs to the function (or *arguments*) in between.


**Anything after a # is ignored by Python** 

'#' is used to declare a comment

In [0]:
# delare a variable called name
name = 'Smanga'

[link text](https://)

## Numeric Expressions

| Operator     | Name           | Description                                            |
|--------------|----------------|--------------------------------------------------------|
| ``a + b``    | Addition       | Sum of ``a`` and ``b``                                 |
| ``a - b``    | Subtraction    | Difference of ``a`` and ``b``                          |
| ``a * b``    | Multiplication | Product of ``a`` and ``b``                             |
| ``a / b``    | True division  | Quotient of ``a`` and ``b``                            |
| ``a // b``   | Floor division | Quotient of ``a`` and ``b``, removing fractional parts |
| ``a % b``    | Modulus        | Integer remainder after division of ``a`` by ``b``     |
| ``a ** b``   | Exponentiation | ``a`` raised to the power of ``b``                     |
| ``-a``       | Negation       | The negative of ``a``                                  |

In [0]:
x = 3
print(x*3)

9

In [0]:
x = 5 
type(x)

int

It's an `int` - short for integer. There's another sort of number we commonly encounter in Python:

Integers are whole numbers: 
-14, -2, 0, 1, 100, 401233

In [0]:
type(19.95)

float

A `float` is a number with a decimal place - very useful for representing things like weights or proportions.

`type()` is the second built-in function we've seen (after `print()`), and it's another good one to remember. It's very useful to be able to ask Python "what kind of thing is this?".

A natural thing to want to do with numbers is perform arithmetic. We've seen the `+` operator for addition, and the `*` operator for multiplication (of a sort). Python also has us covered for the rest of the basic buttons on your calculator:



One interesting observation here is that, whereas your calculator probably just has one button for division, Python can do two kinds. "True division" is basically what your calculator does:

In [0]:
print(5.0 / 2.0)
print(6 / 2)

2.5
3

It always gives us a `float`. 

The `//` operator gives us a result that's rounded down to the next integer.

In [0]:
print(5.0 // 2.0)
print(6 // 2)

2.0
3

What is the value of **x**?

In [0]:
 x = 3.9 * x * (1 - x)
 print(x)

-2226.744

### Order of operations

The arithmetic we learned in primary school has conventions about the order in which operations are evaluated. Some remember these by a mnemonic such as **PEMDAS** - **P**arentheses, **E**xponents, **M**ultiplication/**D**ivision, **A**ddition/**S**ubtraction.

Python follows similar rules about which calculations to perform first. They're mostly pretty intuitive.

1. Parenthesis
2. Power
3. Multiplication
4. Addition
5. Left to Right

In [0]:
8 - 3 + 2

7

In [0]:
-3 + 4 * 2

5

Sometimes the default order of operations isn't what we want:

In [0]:
hat_height_cm = 25
my_height_cm = 190
# How tall am I, in meters, when wearing my hat?
total_height_meters = hat_height_cm + my_height_cm / 100
print("Height in meters =", total_height_meters, "?")

('Height in meters =', 26, '?')

Parentheses are your trump card. You can add them to force Python to evaluate sub-expressions in a different order (or just to make your code easier to read).

In [0]:
total_height_meters = (hat_height_cm + my_height_cm) / 100
print("Height in meters =", total_height_meters)

('Height in meters =', 2)

### Builtin functions for working with numbers

`min` and `max` return the minimum and maximum of their arguments, respectively...

In [0]:
print(min(1, 2, 3))
print(max(1, 2, 3))

1
3

`abs` returns the absolute value of it argument:

In [0]:
print(abs(32))
print(abs(-32))

32
32

**Type Conversions**

In addition to being the names of Python's two main numerical types, `int` and `float` can also be called as functions which convert their arguments to the corresponding type:

In [0]:
print(float(10))
print(int(3.33))
# They can even be called on strings!
print(int('807') + 1)

10.0
3
808

In [0]:
sval = '123'
type(sval)
print sval + 1

TypeError: ignored

In [0]:
ival = int(sval)
type(ival)
print ival + 1

124

In [0]:
nsv = 'hello bob'
niv = int(nsv)

ValueError: ignored

### User Input
We can instruct Python to pause and read data from the user using the *input()*  function

The raw_input()  function returns a string

In [0]:
name = input('Who are you?')
print ('Welcome', name)

Who are you?mo
Welcome mo

what if we want to read a number from the user??

we convert the string to a number

In [0]:
inp = input('Which floor?')
usf = int(inp)
print ('floor', usf)

Which floor?5
floor 5

## Exercise:
*Write a program to prompt the user for hours and rate per hour to compute gross pay.*

Example:

*Enter hours: 35*

*Enter rate: 2.75*



**pay: 96.25**